.hero-body  {
    background: rgb(255, 255, 255);
    padding: 40px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 120px;
}

.hero-title {
    text-align: left;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
}

.hero-text {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background: rgb(233, 233, 233);
    display: flex;
    padding: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.featured-heading {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 2;
}

.featured-body {
    background: rgb(233, 233, 233);
    display: grid;
    grid-gap: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.panels-section {
    background: rgb(233, 233, 233);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}

.panel {
    padding-right: 0px;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 120px;
    padding-top: 0px;
}