.App {
  font-family: sans-serif;
  text-align: center;
}

.login-form{
  width: 100%;
  display: flex;
  background-color: (255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  grid-template-columns: 1fr 1fr;
}

.form-box{
  margin-top: 0vh;
  opacity:80%;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.login-text{
  width: 100%;
  color: white;
  border-bottom: 2px solid white;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vh;
  font-family: 'Overpass', sans-serif;
}

.label-text{
  width: 100%;
  color: white;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 5vh;
  font-family: 'Overpass', sans-serif;
}

.label {
  color:rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}

.login-box{
  border: 1px solid lightgrey;
  display: flex;
  background-color: aliceblue;
  justify-content: right;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  outline: none;
}

.login-btn{
  position: relative;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: px;
  font-family: 'Overpass', sans-serif;
}

.login-btn:hover{
  transform: scale(1.03);
  letter-spacing: 2px;
  justify-content: center;
  background-color: #838486;
  color: #000000;
}
