.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #120c11;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(204, 128, 231);
  margin: 0;
}

.App-link {
  color: #000000;
}



@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');